@import '../scss/settings';
@import '../scss/tools';
@import '../scss/utilities';

.hero {
    text-shadow: 0 0 5px #000;

    h1 {
        margin-bottom: 1rem;
        font-size: 3rem;

        @include nb-respond-to('max-sm') {
            font-size: 2.25rem;
        }
    }

    .copy {
        text-align: center;
    }

    .link {
        display: inline-block;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        transition: background-color 0.2s ease;
        border: 2px solid #fff;
        border-radius: 3px;
        font-size: 1.25rem;

        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}
