.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: auto;
  height: 60px;
}

.navigation {
  color: #fff;
}

.navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  padding: 15px;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
}