@import 'objects/site-wrap';
@import 'objects/flag';
@import 'objects/bare-list';
@import 'objects/inline-list';
@import 'objects/matrix-list';
@import 'objects/grid';
@import 'objects/section';
@import 'objects/uniformed-list';

.columns {
  display: flex;
  margin-left: -10px;

  .column {
    flex: 1;
    margin-left: 10px;

    &.double {
      flex: 2;
    }
  }
}
