@import 'utilities/widths';
@import 'utilities/push';
@import 'utilities/pull';
@import 'utilities/spacing';
@import 'utilities/text-align';
@import 'utilities/hidden';

.u-bg-bronze {
  background-color: #c08f67;
}

.u-bg-silver {
  background-color: #b9b9b9;
}

.u-bg-gold {
  background-color: #d89843;
}

.u-bg-platinum {
  background-color: #8791a0;
}

.u-nowrap {
  white-space: nowrap;
}
