@import 'settings';
@import 'tools';
@import 'resets';
@import 'base';
@import 'objects';
@import 'components';
@import 'utilities';

body {
    font-family: 'Catamaran', sans-serif;
}

a {
    color: #222;
    font-weight: bold;
}

.u-bg--dark {
    background: #222;
    color: #fff;

    a {
        color: #fff;
    }
}

.u-bg--light {
    background: #eee;
}

.u-bg--bright {
    background: #f89829;
    color: #222;

    a {
        color: #222;
    }
}

abbr[title] {
    border: none;
    text-decoration: none;
}

fieldset {
    margin-bottom: 0;
    border: none;
}

legend {
    margin-bottom: 5px;
}
