@import 'settings';
@import 'tools';
@import 'resets';
@import 'base';
@import 'objects';
@import 'components';
@import 'utilities';

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #f89829;
  font-weight: bold;
}

.o-section-dark {
  background: #222;
  color: #fff;
}

.o-section-light {
  background: #ccc;
  color: #fff;
}

.o-section-bright {
  background: #f89829;
  color: #000;

  a {
    color: #000;
  }
}

abbr[title] {
  border: none;
  text-decoration: none;
}

fieldset {
  margin-bottom: 0;
  border: none;
}

legend {
  margin-bottom: 5px;
}
