@import '../scss/settings';
@import '../scss/tools';
@import '../scss/utilities';

.cards {
    display: grid;
    grid-gap: 1rem;

    @include nb-respond-to('xs') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include nb-respond-to('md') {
        grid-template-columns: repeat(4, 1fr);
    }
}
