@import '../scss/settings';
@import '../scss/tools';
@import '../scss/utilities';

.cards {
    display: flex;
    flex-direction: column;

    @include nb-respond-to('xs') {
        flex-direction: row;
    }

    & > div {
        flex: 1;
        margin: 1rem 0.5rem 0;
    }
}
