@import '../scss/settings';
@import '../scss/tools';
@import '../scss/utilities';

.footer {
    padding: 2rem 2rem 0;
    background-color: #222;
    color: #fff;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    list-style-type: none;

    @include nb-respond-to('max-sm') {
        flex-direction: column;
    }

    li {
        margin-right: 20px;

        @include nb-respond-to('max-md') {
            margin-bottom: 10px;
        }
    }

    a {
        color: #fff;
    }
}
