.stack {
    padding: 2rem 0;

    &.light {
        background-color: #eee;
    }

    &.bright {
        background-color: #f89829;

        * {
            color: #fff;
        }
    }

    &.dark {
        background-color: #222;

        * {
            color: #fff;
        }
    }
}
