.stack {
    position: relative;
    padding: 2rem 0;

    &.padding-larger {
        padding: 5rem 0;
    }

    &.light {
        background-color: #eee;
    }

    &.bright {
        background-color: #f89829;

        * {
            color: #fff;
        }
    }

    &.dark {
        background-color: #222;

        * {
            color: #fff;
        }
    }
}

.image {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0.15;
    pointer-events: none;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        mix-blend-mode: multiply;
    }
}

.content {
    z-index: 2;
}
