.#{$nb-namespace}o-inline-icon {
    display: flex;
    align-items: center;
    margin-top: $nb-spacing-unit * 1.5;

    + * {
        margin-top: $nb-spacing-unit * 1.5;
    }

    &__text {
        margin-left: 1rem;
    }
}
